.slider-height{
    height: 600px;
}

/*.carousel-item img{*/
/*    height: 600px;*/

.my-caption{
    background: rgba(0,0,0, 0.5);
    bottom: 250px;
}
.h-200{height: 200px;}
.h-50{height: 50px;}
.h-600{height: 600px;}
.h-250{height: 250px;}
.h-275{height: 275px;}
.h-40{height: 40px;}
.h-100{height: 100px;}
.h-110{height: 110px;}
.h-150{height: 150px;}
.h-330{height: 330px;}

.h-450{height: 450px;}


.w-50{width: 50px;}
.w-75{width: 75px;}
.w-90{width: 90px;}
.w-100{width: 100px;}
.w-150{width: 150px;}
.w-200{width: 200px;}
.w-250{width: 250px;}


 .text-dark:hover{
     color: #007bff !important;
 }
/*.card-defult-height{*/
/*    height: 300px;*/
/*}*/
/*.card-img-height{*/
/*    height: 175px;*/
/*}*/

/*.card-custom-image:hover{*/
/*    opacity: .5;*/
/*}*/
.fs-20{
    font-size: 20px;
}
.fs-13{
    font-size: 13px;
}
.fs-16{
    font-size: 16px;
}
.fs-11{
    font-size: 11px;
}
/*.b-b-1{*/
/*    border-bottom: 1px solid lightgray!important;*/
}
/*.overlay{*/
/*    background-color: #7abaff;*/
/*    height: 275px;*/
/*    width: 100%;*/
/*    transition: 1s;*/
/*    position: absolute;*/
/*    bottom: 100%;*/
/*    opacity: 0;*/
/*}*/
/*.parent-div:hover .overlay{*/
/*    opacity: 1;*/
/*    bottom: 0;*/

/*}*/

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    transform: scale(1);
    transition: 1s;
    overflow: hidden;
}
.fill img:hover {
 transform: scale(1.1);
}
.img_f {
    object-fit: cover;
    min-width:100%;
    min-height:100%;
}
.card-img-top:hover{
    transform: scale(1.1);
    transition: .5s;
}